:root {
  --main-padding: 0px;
}
* {
  margin: 0px;
}
.container {
  display: grid;
  height: 100vh;
  grid-gap: 0.1rem;
  margin: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "meni"
    "grupe"
    "studenti";
}

#meni {
  background: #789ccc;
  grid-area: meni;
  padding: 20px;
}

#meni ul {
  padding-left: 0px;
}
#meni li {
  display: inline-block;
  padding: 0px;
  margin: 20px;
  padding-right: 15px;
}

#grupe {
  background: #789ccc;
  grid-area: grupe;
  padding: 20px;
}

#studenti {
  background: #789ccc;
  grid-area: studenti;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media only screen and (min-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "meni"
      "grupe"
      "studenti";
  }
}

@media only screen and (min-width: 800px) {
  .container {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas:
      "meni meni"
      "studenti grupe";
  }
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
#tb_grupe {
  text-align: left;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 499px) {
  .priority-2 {
    display: none;
  }
}

#studenti .grid_item {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  max-width: 100%;
  min-width:150px;
  min-height:50px;
}
