* {
  margin: 0px;
}

.container {
  margin-left:auto;
  margin-right:auto;
  height: fit-content;
  width:fit-content;
  border: 2px solid #7FB3D5;
  border-radius:10px;
  box-shadow: 3px 5px #888888;
  text-align:left;
  margin-top:50px;
  margin-bottom:50px;
  padding:30px;
  background:#EAF2F8;
}
hr{
  margin-bottom:20px;
}

h1{
 font-family: Times New Roman;
  margin-bottom:10px;

}

input[type=text] {
  border-radius:4px;
  margin:10px;
}

#dugme{
  background:#0080ff;
  color:white;
  border:1px solid white;
  padding:10px;
  margin:30px;
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:5px;
  width:60%;
}

p{
  display:inline;
  padding:20px;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }
a {display:table-cell;}
button{display:table-cell;}