.container {
  display: grid;
  height: 100vh;
  grid-gap: 0.1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
      "meni"
      "odabir"
      "grafovi";
  margin:0px;
}

*{
   margin:0px;
   padding:0px;
}

.container #grafovi{
    grid-template-columns: repeat(1,1fr);
 }

#meni {
  background: #789ccc;
  grid-area: meni;
  padding: 20px;
}

#meni ul {
  padding-left: 0px;
}
#meni li {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  padding-right: 15px;
}

#odabirVjezbe {
  background: #789ccc;
  grid-area: odabir;
  padding: 20px;
}
#grafovi {
  display: grid;
  grid-area:grafovi;
  grid-gap: 0.1rem;
  background: #789ccc;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media only screen and (min-width: 800px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas:
      "meni meni meni meni"
      "odabir odabir grafovi grafovi"
      "odabir odabir grafovi grafovi";
    height:auto;
  }
  .container #grafovi{
    grid-template-columns: repeat(2,1fr);
  }
}

#grafovi .graf {
  margin-left: auto;
  margin-right: auto;
 
}
#grafovi img{
   max-width:100%;
   width:auto;
   height:auto;
}

#odabirVjezbe {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: section; 
  padding-top:20px;
  border: solid 1px #0066cc;
  padding-bottom:30px;
}
#odabirVjezbe .vjezbe-item {
  width: 12em;
  background-color: #e6f2ff;
  border: solid 1px #0066cc;
  text-align: center; 
  margin-left: 10px;
  margin-right: 10px;
  width:auto;
  padding:10px;
  margin-bottom:0px;
  margin-top:7px;
  font-size:18px;
}

#odabirVjezbe .zadaci-list{
  background:grey;
  margin-left:10px;
  margin-right:10px;
  background:#5b7ca8;
  margin-top:0;
  padding:5px;
}


#odabirVjezbe .zadaci-item{
  margin-right:5px;
  margin-left: auto;
  margin-top:5px;
  margin-bottom:1px;
  font-size:12px;
  display: inline-block;
  padding:10px;
  background:#bad3f5;
}

